[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "wasm3"]
	path = wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/M5Stack"]
	path = components/M5Stack
	url = https://github.com/m5stack/M5Stack.git
